@model SGBWeb.Models.Bookcase

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Estante</h2>

<h3 class="btn-danger">Tem certeza que pretende eliminar a estante @Model.BookcaseName?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookcaseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookcaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar a lista", "Index")
        </div>
    }
</div>
