@model SGBWeb.Models.Loan

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index")">Empréstimos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Eliminar Empréstimo</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <h2>Eliminar</h2>

            <h3>Deseja eliminar este empréstimo: <strong>@Model.Book.Title</strong>?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Book.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Book.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Copy.ISBN)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Copy.ISBN)
                    </dd>

                    <dt>
                        @Html.DisplayName("Estudante")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Member.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayName("Utilizador")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LoanDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LoanDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ReturnedDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ReturnedDate)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        @Html.ActionLink("Voltar a lista", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
