@model IEnumerable<SGBWeb.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2 class="btn-info">Lista de Livros</h2>

<div class="btn-group-sm">
    <a class="btn btn-sm btn-success fa fa-plus-circle" href="@Url.Action("Create")">
        Criar
    </a>
</div>

<table class="table table-responsive table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookcase.BookcaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CDU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Illustration)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bookcase.BookcaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CDU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pagination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableCopies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Illustration)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ISBN }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ISBN }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ISBN })
                </td>
            </tr>
        </tbody>
    }

</table>
