@model IEnumerable<SGBWeb.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2 class="btn-info">Lista de Autores</h2>

<div class="btn-group-sm">
    <a class="btn btn-sm btn-success fa fa-plus-circle" href="@Url.Action("Create")">
        Criar
    </a>
    <span class="text-light" style="float: left">  | </span>
    @Ajax.ActionLink(" Importar", "ImportAuthors", "Authors",
    new { },
    new AjaxOptions
    {
        UpdateTargetId = "openmodal",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "onImport()",
    }, new
         {
             @id = "importExcel",
             @class = "btn btn-sm btn-success fa fa-plus-circle",
             @rel = "tooltip",
             @title = "Importar Editoras",
             @style = "float: left"
    })
    <span class="text-light" style="float: left">  | </span>
</div>
<br />

<table class="table table-responsive table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryOfOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @item.DateOfBirth.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Biography)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>


</table>




<div id="openmodal"></div>

<script type="text/javascript">
    function onImport() {
        $('#import').modal('show');
    }
    $(document).ready(function () {

        var table = $('#dataTable').DataTable({
            paginate: true,
            autoWidth: false,
            select: true,
            //Necessario desativar o scrollX e scrollY para acertar o header com o body.
            //scrollResize: true,
            //scrollY: 300
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Procurar ...",
            }
        });

        $('#dataTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    });
</script>
