@model IEnumerable<SGBWeb.Models.Publisher>

@{
    ViewBag.Title = "Index";
    string errorMessage = TempData["errorMessage"] as string;
    string successMessage = TempData["successMessage"] as string;
}

<div class="text-center" style="align-content:center" id="ErrorMessageDisplay">

    @if (errorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" style="position:center">

            <span>
                <b> Falha - </b>@errorMessage
            </span>
        </div>

    }
    @if (successMessage != null)
    {
        <div class="alert alert-success alert-dismissible fade show">

            <span>
                <b> Successo - </b>@successMessage
            </span>
        </div>

    }
    @if (Model.Count() == 0)
    {
        <div class="alert alert-info alert-dismissible fade show">

            <span>
                <b> Info! - </b> Nenhum registo adicionado até o momento.
            </span>
        </div>
    }
</div>

<div class="card">
    <div class="card-header">
        <h2 class="btn-info">Lista de editoras</h2>
    </div>
</div>

<div class="btn-group-sm">
    <a class="btn btn-sm btn-success fa fa-plus-circle" href="@Url.Action("Create")">
        Criar
    </a>
    <span class="text-light" style="float: left">  | </span>
    @Ajax.ActionLink(" Importar", "ImportPublisher", "Publishers",
    new { },
    new AjaxOptions
    {
        UpdateTargetId = "openmodal",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "onImport()",
    }, new
         {
             @id = "importExcel",
             @class = "btn btn-sm btn-success fa fa-plus-circle",
             @rel = "tooltip",
             @title = "Importar Editoras",
             @style = "float: left"
    })
    <span class="text-light" style="float: left">  | </span>
</div>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.PublisherID }) |
                    @Html.ActionLink("detalhes", "Details", new { id = item.PublisherID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.PublisherID })
                </td>
            </tr>
        }

    </tbody>

</table>



<div id="openmodal"></div>

<script type="text/javascript">
    function onImport() {
        $('#import').modal('show');
    }
    $(document).ready(function () {

        var table = $('#dataTable').DataTable({
            paginate: true,
            autoWidth: false,
            select: true,
            //Necessario desativar o scrollX e scrollY para acertar o header com o body.
            //scrollResize: true,
            //scrollY: 300
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Procurar ...",
            }
        });

        $('#dataTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    });
</script>