@model SGBWeb.Models.GeneralData

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Parametrização de dados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassifierType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassifierType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDefault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDefault)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
